@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-Hairline-BF661890413e3d1.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-Thin-BF6618904123ce3.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-Extralight-BF6618904107ccc.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-Light-BF66189040e6001.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-Regular-BF66189040b697b.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-Medium-BF6618904088566.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-Semibold-BF66189040640ea.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-Bold-BF66189040400df.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-Extrabold-BF661890400e032.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-HairlineItalic-BF66189040b3182.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-ThinItalic-BF66189041177e8.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-ExtralightItalic-BF66189041219b7.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-LightItalic-BF6618904058974.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-Italic-BF66189040a4d2d.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-MediumItalic-BF6618904082cb3.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-SemiboldItalic-BF6618904043e67.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-BoldItalic-BF6618904029e34.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("/rebond-grotesque-font-family-1767748310-0/ESRebondGrotesqueTRIAL-ExtraboldItalic-BF6618903f81f73.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --secondary: #f9f9f9;
  --foreground: #f5f5f5;
  --main: #444;
  --muted: #858688;
  --primary: #8e82fc;
  --line: #eeeeee;
}

.dark {
  --background: #151b23;
  --secondary: #212830;
  --foreground: #2a313c;
  --main: #fff;
  --muted: #999;
  --line: #262b31;
  --primary: #8e82fc;
}

@theme inline {
  --font-sans: "Rebond Grotesque", sans-serif;
  --font-google: "Google Sans", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-main: var(--main);
  --color-muted: var(--muted);
  --color-line: var(--line);
  --color-primary: var(--primary);
}

* {
  @apply outline-none
}

body {
  @apply bg-background text-main font-google;
}

.main {
  @apply max-w-[90%] 2xl:max-w-[1280px] mx-auto;
}

.container {
  @apply max-w-[90%] md:max-w-[700px] mx-auto;
}

.center {
  @apply flex items-center justify-center;
}

button,
.btn {
  @apply cursor-pointer flex items-center justify-center gap-2 disabled:opacity-50;
}

.btn-primary {
  @apply text-white bg-primary font-medium;
}

.hide-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  @apply hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 3px;
}

::selection {
  background: var(--primary);
  color: #fff;
}